@tailwind base;
@tailwind components;
@tailwind utilities;

.light-mode {
  --background: 161.4 0% 100%;
  --foreground: 161.4 0% 10%;
  --background-75: hsla(161.4, 0%, 100%, 0.75);
  --foreground-25: hsla(161.4, 0%, 10%, 0.25);
  --card: 161.4 0% 100%;
  --card-foreground: 161.4 0% 15%;
  --popover: 161.4 0% 100%;
  --popover-foreground: 161.4 95% 10%;
  --primary: 161.4 93.5% 30.4%;
  --primary-foreground: 0 0% 100%;
  --secondary: 161.4 10% 90%;
  --secondary-foreground: 0 0% 0%;
  --muted: 123.4 10% 95%;
  --muted-foreground: 161.4 0% 40%;
  --accent: 123.4 10% 90%;
  --accent-foreground: 161.4 0% 15%;
  --destructive: 0 50% 50%;
  --destructive-foreground: 161.4 0% 100%;
  --border: 161.4 20% 82%;
  --input: 161.4 20% 50%;
  --ring: 161.4 93.5% 30.4%;
  --radius: 1rem;
}
.dark-mode {
  --background: 161.4 10% 10%;
  --foreground: 161.4 0% 100%;
  --background-75: hsla(161.4, 10%, 10%, 0.75);
  --foreground-25: hsla(1161.4, 0%, 100%, 0.25);
  --card: 161.4 0% 10%;
  --card-foreground: 161.4 0% 100%;
  --popover: 161.4 10% 5%;
  --popover-foreground: 161.4 0% 100%;
  --primary: 161.4 93.5% 30.4%;
  --primary-foreground: 0 0% 100%;
  --secondary: 161.4 10% 20%;
  --secondary-foreground: 0 0% 100%;
  --muted: 123.4 10% 25%;
  --muted-foreground: 161.4 0% 65%;
  --accent: 123.4 10% 25%;
  --accent-foreground: 161.4 0% 95%;
  --destructive: 0 50% 50%;
  --destructive-foreground: 161.4 0% 100%;
  --border: 161.4 20% 50%;
  --input: 161.4 20% 50%;
  --ring: 161.4 93.5% 30.4%;
  --radius: 1rem;
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}