@tailwind base;
@tailwind components;
@tailwind utilities;

.light-mode {
  --background: 168 0% 95%;
  --background-75: hsla(168, 0%, 95%, 0.75);
  --foreground: 168 0% 0%;
  --foreground-25: hsla(168, 0%, 0%, 0.25);
  --card: 168 0% 90%;
  --card-foreground: 168 0% 10%;
  --popover: 168 0% 95%;
  --popover-foreground: 168 95% 0%;
  --primary: 168 75.8% 35.7%;
  --primary-foreground: 0 0% 100%;
  --secondary: 168 10% 70%;
  --secondary-foreground: 0 0% 0%;
  --muted: 130 10% 85%;
  --muted-foreground: 168 0% 35%;
  --accent: 130 10% 80%;
  --accent-foreground: 168 0% 10%;
  --destructive: 0 50% 30%;
  --destructive-foreground: 168 0% 90%;
  --border: 168 20% 50%;
  --input: 168 20% 18%;
  --ring: 168 75.8% 35.7%;
  --radius: 1rem;
}

.dark-mode {
  --background: 168 10% 5%;
  --background-75: hsla(168, 10%, 5%, 0.75);
  --foreground: 168 0% 90%;
  --foreground-25: hsla(168, 0%, 90%, 0.25);
  --card: 168 0% 0%;
  --card-foreground: 168 0% 90%;
  --popover: 168 10% 5%;
  --popover-foreground: 168 0% 90%;
  --primary: 168 75.8% 35.7%;
  --primary-foreground: 0 0% 100%;
  --secondary: 168 10% 10%;
  --secondary-foreground: 0 0% 100%;
  --muted: 130 10% 15%;
  --muted-foreground: 168 0% 60%;
  --accent: 130 10% 15%;
  --accent-foreground: 168 0% 90%;
  --destructive: 0 50% 30%;
  --destructive-foreground: 168 0% 90%;
  --border: 168 20% 18%;
  --input: 168 20% 18%;
  --ring: 168 75.8% 35.7%;
  --radius: 1rem;
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
